{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	log {
		level ERROR
	}
}
unifi.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy localhost:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
adguard.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy localhost:3000
}
portainer.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy frank.joannet.casa:9000
}
home.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy frank.joannet.casa:49154
}
huginn.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy frank.joannet.casa:3000
}
plex.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy dee.joannet.casa:32400
}
navidrome.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy dee.joannet.casa:4533
}
proxmox.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy pve0.joannet.casa:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
grafana.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy dennis.joannet.casa:2342
}
loki.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy dennis.joannet.casa:3100
}
prometheus.svc.joannet.casa {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy dennis.joannet.casa:9001
}
